{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fa icons CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/main.css' %}">
    
    <!-- highlight.js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
        
    <title>
        {% block title %}

        {% endblock %}
        Learn Java Security
    </title>
    <link rel="icon" type="image/svg" href="{% static 'app/images/laptop-code-solid.svg' %}">
    
</head>
<body class="site-body vh-100 overflow-y-auto">
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand fs-5" href="{% url 'home' %}">
            <i class="fa fa-laptop-code" style="padding-right: 5px;"> </i>
            Learn Java Security
        </a>
        <!-- Toggle button -->
        <button 
                class="navbar-toggler shadow-none border-0" 
                type="button" 
                data-bs-toggle="offcanvas" 
                data-bs-target="#offcanvasNavbar" 
                aria-controls="offcanvasNavbar" 
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar content -->
        <div class="sidebar offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header text-white border-bottom">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Learn Java Security</h5>
                <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <!-- Navbar body -->
            <div class="offcanvas-body d-flex flex-column flex-lg-row" id="navbarNav">
                <ul class="respon-border navbar-nav justify-content-center align-items-center flex-grow-1">
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Articles
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="{% url 'articles' %}">Existing Standards</a></li>
                            <li><a class="dropdown-item" href="{% url 'basics' %}">Java Security Basics</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><h6 class="dropdown-header">Common Vulnerabilities</h6></li>
                            <li><a class="dropdown-item" href="{% url 'sql_injection' %}">SQL Injection</a></li>
                            <li><a class="dropdown-item" href="{% url 'xss_injection' %}">Cross-site scripting</a></li>
                            <li><a class="dropdown-item" href="{% url 'insecure_deserialization' %}">Insecure Deserialization</a></li>
                            <li><a class="dropdown-item" href="{% url 'unsafe_reflection' %}">Unsafe Reflection</a></li>
                            <li><a class="dropdown-item" href="{% url 'csrf' %}">Cross-site request forgery</a></li>
                        </ul>
                      </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tests' %}">Tests</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'exercises' %}">Exercises</a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                    <ul class="navbar-nav d-flex justify-content-center align-items-center gap-3">
                        <li class="nav-item">
                            <a class="nav-link" href='{% url 'account' %}'>Welcome {{ user.username }}! </a>
                        </li>
                        <li class="nav-item">
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button class="btn-small rounded-4 btn-hover " type="submit">Log Out</button> <!-- todo ikonka?-->
                            </form>
                        </li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav d-flex justify-content-center align-items-center">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
    <div class="container page-container">
        <!-- BLOCK CONTENT -->
        <br><br><br>
        {% block content %} {% endblock %}
    </div>

    <footer class="footer py-3 mt-5 dark" style="background-color: var(--bs-dark)">
        <p class="text-center" style="color: whitesmoke">© 2024 BUT FIT</p>
    </footer>

    <!-- highlight.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script-->
    <script>hljs.highlightAll();</script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'app/js/scripts.js'%}"></script>
    <script src="{% static 'app/js/standards-questions.js'%}"></script>
    <script src="{% static 'app/js/basics-questions.js'%}"></script>
    <script src="{% static 'app/js/common-questions.js'%}"></script>
</body>
</html>